@media (max-width: 1545px) {
  header {
    padding: 22px 4%;
    transition: 0.2s;
  }

  header.sticky {
    padding: 14px 4%;
    transition: 0.2s;
  }
}

@media (max-width: 1180px) {
  :root {
    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
  }
}

@media (max-width: 1060px) {
  #menu-icon {
    display: initial;
  }
  .navlist {
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: var(--other-color);
    transition: all 0.5s ease;
  }

  .navlist a {
    margin: 1rem;
    display: block;
    padding: 0.5rem;
    border-left: 2px solid var(--main-color);
  }

  .navlist.open {
    top: 100%;
  }
}

@media (max-width: 1045px) {
  :root {
    --big-font: 3.3rem;
    --h2-font: 2rem;
  }
  .home img {
    width: 100%;
    max-width: 490px;
    height: auto;
    object-fit: cover;
  }
  .about-img img {
    width: 100%;
    max-width: 490px;
    height: auto;
  }
  .home {
    height: 70vh;
  }
}

@media (max-width: 860px) {
  .home {
    grid-template-columns: 1fr;
    height: 118vh;
  }
  .home-text {
    padding-top: 60px;
  }
  .home-img {
    text-align: center;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .about-img {
    text-align: center;
  }
}
